<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tracker/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}" type="text/css">
</head>
<body>
<!-- HEADER -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="header__content col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
                {% block header %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<!-- HEADER END -->
<!-- MAIN -->
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<!-- MAIN END -->
<!-- FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__content col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
                <span class="link-toreko"><a href="http://toreko.com/">Торэко {% now 'Y' %}</a></span>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER END -->
{% block scripts %}
{% endblock %}
</body>
</html>