{% extends 'tracker/base.html' %}

{% block title %}
    {{ track.railcar }}
{% endblock %}

{% block header %}
    <span class="header-title">Вагон {{ track.railcar }}</span>
    <nav>
        <a class="btn" href="{% url 'tracker:index' %}">Назад</a>
    </nav>
{% endblock %}

{% block content %}
    <p><b>Время:</b> {{ track.time|date:"j.m.Y H:i:s" }}</p>
    <p><b>Номер счёта:</b> {{ track.railcar.bill }}</p>
    <p><b>Тип топлива:</b> {{ track.railcar.fuel }}</p>
    <p><b>Производитель:</b> {{ track.railcar.fuel_brand }}</p>
    <p><b>Количество:</b> {{ track.amount.normalize }} кг.</p>
    <p><b>Комментарий:</b> {{ track.comment }}</p>
{% endblock %}

