{% extends 'tracker/base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block header %}
    <span class="header-title">Главная</span>
    <span class="user-welcome">Добро пожаловать, {% firstof user.get_short_name user.get_username %}</span>
    <nav>
        <a role="button" class="btn btn-logout" href="{% url 'tracker:logout' %}">Выход</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="index-menu">
        {% if perms.tracker.add_tracking %}
            <a role="button" class="btn btn-default index-menu__entry"
               href="{% url 'tracker:tracking' %}">Прием вагонов</a>
        {% endif %}
        {% if perms.tracker.view_bills %}
            <a role="button" class="btn btn-default index-menu__entry"
               href="{% url 'tracker:bills' %}">Управление платежами</a>
        {% endif %}
        {% if perms.tracker.view_tracking and perms.tracker.view_bills %}
            <a role="button" class="btn btn-default index-menu__entry"
               href="{% url 'tracker:monitoring' %}">Мониторинг</a>
        {% endif %}
    </div>
{% endblock %}