{% extends 'tracker/base.html' %}

{% block title %}
    Принятые вагоны
{% endblock %}

{% block header %}
    <span class="header-title">Список принятых вагонов</span>
    <nav>
        {% if not perms.tracker.add_tracking or user.is_superuser %}
            <a role="button" class="btn" href="{% url 'tracker:index' %}">Назад</a>
        {% endif %}
        {% if perms.tracker.add_tracking %}
            <a role="button" class="btn" href="{% url 'tracker:track_new' %}">Принять вагон</a>
        {% endif %}
        <a role="button" class="btn btn-logout" href="{% url 'tracker:logout' %}">Выход</a>
    </nav>
{% endblock %}

{% block content %}
    {% if tracking_list %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Время</th>
                    <th>Номер вагона</th>
                    {#<th>Номер платежа</th>#}
                    <th>Топливо</th>
                    {#<th>Производитель</th>#}
                    <th>Количество</th>
                    <th>Комментарий</th>
                    <th>Отпущен</th>
                </tr>
                </thead>
                <tbody>
                {% for track in tracking_list %}
                    <tr>
                        <td>{{ track.id }}</td>
                        <td>{{ track.time|date:"d.m.y H:i:s" }}</td>
                        <td>{{ track.railcar.railcar }}</td>
                        {#<td>{{ track.railcar.bill }}</td>#}
                        <td>{{ track.railcar.fuel }}</td>
                        {#<td>{{ track.railcar.fuel_brand }}</td>#}
                        <td>{{ track.amount.normalize }} кг</td>
                        <td>{{ track.comment }}</td>
                        <td>
                            {% if not track.railcar.is_released %}
                                <a class="btn btn__release"
                                   href="{% url 'tracker:railcar_release' track.id %}">Отпустить</a>
                            {% else %}
                                {{ track.release_time|date:"H:i" }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        Нет принятых вами вагонов. Вы можете <a href="{% url 'tracker:track_new' %}">принять</a> вагон.
    {% endif %}
{% endblock %}