{% extends 'tracker/base.html' %}

{% block title %}
    {{ track.railcar }}
{% endblock %}

{% block header %}
    <span class="header-title">Вагон {{ track.railcar }}</span>
    <nav>
        <a class="btn" href="{% url 'tracker:tracking' %}">Назад</a>
        <a class="btn btn-logout" href="{% url 'tracker:logout' %}">Выход</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="col-sm-6">
        {% load customfilters %}
        <p><b>Время:</b> {{ track.time|date:"j.m.Y H:i:s" }}</p>
        <p><b>Номер сделки:</b> {% if track.railcar.bill %}{{ track.railcar.bill }}{% endif %}</p>
        <p><b>Поставщик:</b> {{ track.railcar.bill.supplier }}</p>
        <p><b>Тип топлива:</b> {{ track.railcar.fuel }} </p>
        <p><b>Объем:</b> {{ track.amount.normalize }} кг
            {% with fuel_diff|key:track.railcar as diff %}
                {% if diff > 0 %}
                    <span class="track-status alert-danger">
                    Недостаток {{ diff|floatformat:-4 }} кг
                </span>
                {% endif %}
                {% if diff < 0 %}
                    <span class="track-status alert-success">
                    Излишки {{ diff|abs|floatformat:-4 }} кг
                </span>
                {% endif %}
            {% endwith %}
        </p>
        <p><b>Комментарий:</b> {{ track.comment }}</p>
        <p><b>Отпущен:</b>
            {% if not track.railcar.is_released %}
                <span class="alert-danger">на базе</span>
            {% else %}
                {{ track.release_time|date:"H:i" }}
            {% endif %}</p>
        <p>
            <b>Сотрудник:</b> {% firstof track.accepted_by.get_full_name track.accepted_by.get_short_name track.accepted_by.get_username %}
        </p>
    </div>
{% endblock %}

