{% extends 'tracker/base.html' %}

{% block title %}
    {{ track.railcar }}
{% endblock %}

{% block header %}
    <span class="header-title">Вагон {{ track.railcar }}</span>
    <nav>
        <a class="btn" href="{% url 'tracker:tracking' %}">Назад</a>
        <a class="btn btn-logout" href="{% url 'tracker:logout' %}">Выход</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="col-sm-6">
        {% load customfilters %}
        <p><b>Время:</b> {{ track.time|date:"j.m.Y H:i:s" }}
            {% with date_diff|key:track.railcar as date %}
                {% if date.days < 0 %}
                    <span class="track-status alert-warning">Задержка на {{ date|to_date }}</span>
                {% else %}
                    <span class="track-status alert-success">Принят в срок</span>
                {% endif %}
            {% endwith %}
        </p>
        <p><b>Номер счёта:</b> {{ track.railcar.bill }}</p>
        <p><b>Тип топлива:</b> {{ track.railcar.fuel }} </p>
        <p><b>Поставщик:</b> {{ track.railcar.bill.supplier }}</p>
        <p><b>Объем:</b> {{ track.amount.normalize }} кг
            {% with fuel_diff|key:track.railcar as diff %}
                {% if diff > 0 %}
                    <span class="track-status alert-danger">
                    Недостаток {{ diff|floatformat:-4 }} кг
                </span>
                {% endif %}
                {% if diff < 0 %}
                    <span class="track-status alert-success">
                    Излишки {{ diff|abs|floatformat:-4 }} кг
                </span>
                {% endif %}
            {% endwith %}
        </p>
        <p><b>Комментарий:</b> {{ track.comment }}</p>
    </div>
{% endblock %}

