html {
    position: relative;
    margin: 0 calc(-1 * (100vw - 100%)) 0 0;
    padding: 0;
    min-height: 100%;
    min-width: 320px;
    overflow-x: hidden;
}

body {
    margin-bottom: 50px;
}

.fail {
    color: white;
    background-color: #de5962
}
.fail:hover {
    background-color: #de434d
}

/**************** HEADER *****************/
.header {
    height: 115px;
    width: 100%;
    z-index: 1;
    color: white;
    top: 0;
    background-color: #1564a9;
}

.header__content {
    position: relative;
    margin-top: 16px;
    /*width: 100%;*/
}

.header-title {
    display: inline-block;
    margin-top: 0;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.header .btn {
    border: solid white 1px;
    color: white;
}

.header .btn:hover {
    border: solid white 1px;
    background-color: #1e73b6;
}

.btn-logout {
    float: right;
}

.user-welcome {
    float: right;
    margin-top: 6px;
}

/************** HEADER END ***************/

/***************** MAIN ******************/

.main {
    min-height: 100%;
    /*padding-top: 130px; !* Отступ для шапки *!*/
    /*padding-bottom: 50px;*/
}

.main .container {
    padding: 15px;
}

.main .table-responsive {
    width: 100%;
    margin: 0 0 0 0;
}

.table-responsive .table {
    margin: 0;
}

.table-row-clickable {
    cursor: pointer;
}

.table-col-nowrap {
    max-width: 26ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

form {
    display: block;
    position: relative;
    /*margin: 16px 0px 16px 0px;*/
    width: 100%;
}

form .btn {
    float: right;
    color: white;
    background-color: #1564a9;
    border-style: none;
}

form .btn:hover {
    color: white;
    background-color: #1e73b6;
}

.form-group {
    display: block;
    position: relative;
}

#id_railcar, #id_amount {
    /*display: inline-block;*/
    /*float: right;*/
    height: 2.5em;
    /*width: 150px;*/
    width: 100%;
}

label {
    vertical-align: middle;
    width: 110px;
}

textarea {
    /*position: relative;*/
    width: 100%;
    /*height: 100%;*/
    height: 8em;
    /*margin-bottom: 20px;*/
    resize: none;
}

.helptext {
    display: block;
    font-size: 0.8em;
    padding-top: 5px;
    text-align: right;
}

.track-status {
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    margin: 4px 0;
}

.table__legend{
    margin-top: 12px;
}

/*************** MAIN END ****************/

/* Авторизация */

#welcome {
    display: block;
    text-align: center;
}

#auth-form {
    padding: 2em 0;
}

.form-auth.form-group {
    display: block;
    width: 100%;
}

.form-auth label {
    display: block;
    width: auto;
}

.form-auth input[type="text"],
.form-auth input[type="password"] {
    display: block;
    width: 100%;
}

.error {
    display: block;
    color: red;
}

/* -------------- */

/* Главное меню */

.index-menu {
    border: 1px solid lightgray;
    background-color: #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.index-menu__entry {
    border: 1px solid lightgray;
    background-color: #fff;
    display: block;
    /*padding: 5px 5px;*/
    margin: 12px 12px;
    text-align: center;
    font-size: 1.25em;
}

/* ------------ */

/**************** FOOTER ****************/
.footer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    /*margin-top: -50px;*/
    color: #666;
    background-color: #333;
}

.footer__content {
    margin-top: 16px;
    position: relative;
}

.footer a {
    text-decoration: underline;
    color: #666;
}

.footer a:hover {
    color: #666;
}

.link-toreko {
    font-size: 0.85em;
}

/************** FOOTER END **************/