html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/**************** HEADER *****************/
header {
    height: 150px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.modal-header {
    color: white;
    background-color: #1564a9;
    /*position: fixed;*/
    top: 0;
    height: 100%;
    width: 100%;
}

.modal-header .container {
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;
}

.modal-header .btn {
    border: solid white 1px;
    color: white;
}

.modal-header .btn:hover {
    border: solid white 1px;
    background-color: #1e73b6;
}

.modal-header h3 {
    margin-top: 0;
}

/************** HEADER END ***************/

/***************** MAIN ******************/

main {
    min-height: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
}

main .container {
    padding: 15px;
}

main .table-responsive {
    width: 100%;
    margin: 0 0 0 0;
}

.table-responsive .table {
    margin: 0;
}

form {
    margin: 16px 0px 16px 0px;
}

form .btn {
    color: white;
    background-color: #1564a9;
}

form .btn:hover {
    color: white;
    background-color: #1e73b6;
}
/*************** MAIN END ****************/

/**************** FOOTER ****************/
footer {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    color: #666;
    background-color: #333;
}

footer .modal-footer {
    position: relative;
    height: 100%;
    text-align: left;
    color: #666;
    background-color: #333;
}

footer .modal-footer .container {
    position: relative;
    height: 100%;
    text-align: left;
}

/************** FOOTER END **************/